<h5> Books index </h5>
<% books.each do |book| %>
<ul>
  <il> Title: <%= book.title %></il>
  <il> Author: <%= book.author_name %></il>
  <il> Published: <%= book.date_published %></il>
</ul>
<% end %>
